# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
*.exe
*.dll

# OS files
*.DS_Store
Thumbs.db
ehthumbs.db

# OneDrive and system folders
OneDrive/
AppData/
Desktop.ini
*.log

# VS index files
*.vsidx

# Other
*.class
*.pyc
